<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	
<title>Staff4Free</title>

</head>
<body>
	
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container bg-white px-5 py-5">
			
			<div th:switch="${#authentication.getPrincipal()}">
				<p th:case="'anonymousUser'">NIE ZALOGOWANY</p>
				<p th:case="*">ZALOGOWANY</p>
			</div>
			
		<br>
<table>
  <tr>
    <th>City</th>
    <th>Title</th>
    <th>User</th>
  </tr>
   <tr th:each="advert : ${adverts}">
 <td th:text="${advert.city}">1</td>
 <td><a href="#" th:text="${advert.title}">Title ...</a></td>
 <td th:text="${advert.username}">Text ...</td>
 </tr>
  
</table>


		
<script type="text/javascript" src="/js/locations.js"></script>
</div>

</body>
</html>