<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">



<title>Staff4Free</title>

</head>
<body>

	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container  text-center">
		<div class="card m-2 p-5 bg-light">

			<h2 class="mt-2 mb-3 ">Add your giveaway!</h2>

			<form th:action="@{/newAdv}" enctype="multipart/form-data"
				th:object="${advert}" method="post">

				<div class="form-group px-5 mx-5">
					<label class="font-weight-bold"> Title </label> <input type="text"
						placeholder="Please enter your username..." class="form-control"
						th:field="*{title}">
				</div>

				<div class="form-group px-5 mx-5">
					<label class="font-weight-bold">Description</label>
					<textarea class="form-control"
						placeholder="Please enter description..."
						th:field="*{description}" rows="3"></textarea>

				</div>

				Image: <input id="upload" type="file" name="imageFile" accept="image/*">


				<p class="my-2 font-weight-bold">Country</p>
				<select id="select_country" style="width: 300px;"
					th:field="*{country}">
					<option value="" disabled selected>Please choose your
						country...</option>
				</select> <br>


				<p class="my-2 font-weight-bold">State</p>
				<select id="select_state" style="width: 400px;" th:field="*{state}">
					<option value="" disabled selected>Please first choose
						your country...</option>
				</select> <br>


				<p class="my-2 font-weight-bold">City</p>
				<select id="select_city" style="width: 400px;" th:field="*{city}">
					<option value="" disabled selected>Please first choose
						your state...</option>
				</select> <br> <br>


				<button type="submit" class="btn-lg btn-primary col-3">Register</button>
			</form>
		</div>
	</div>


	<script type="text/javascript" src="/js/locations.js"></script>
	<script type="text/javascript">
	document.getElementById('upload').addEventListener("change", showName)
		function showName() {
			var fullPath = document.getElementById('upload').value;
			if (fullPath) {
				var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath
						.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
				var filename = fullPath.substring(startIndex);
				if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
					filename = filename.substring(1);
				}
				alert(filename);
			}
		}
	</script>
</body>
</html>